* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.commonBg {
    background-color: #F5F5F5;
}

body {
    font-family: "Fira Sans", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.navlogo {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

.secenderybtn {
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}

.banarbg {
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
}

.banerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
}

.banarsubTitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-style: Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.banarTitle {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    padding: 16px 0 24px 0;
}

.banarbtn {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
}

.sectionHeading {
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 80px;
}

.pillarCord {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}


.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    padding-top: 32px;

}

.vissonDetails {
    color: rgba(14, 14, 14, 0.7);

    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 24px 0 32px;
}

.vissonCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.cardTitle {
    color: rgba(14, 14, 14, 0.8);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 24px 0 12px;
}

.cardDetails {
    color: rgba(14, 14, 14, 0.7);

    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vissonCard {
    padding: 32px;
    border-radius: 16px;
}

.bgBlue {
    background: rgba(84, 144, 245, 0.2);
    display: flex;
    flex-direction: column;
}

.btnBlue {
    background: rgba(84, 144, 245, 1);
}

.bgGreen {
    background: rgba(198, 228, 214, 1);
}

.btnGreen {
    background: rgba(9, 161, 92, 1);
}

.bgYellow {
    background: rgba(247, 235, 207, 1);
}

.btnYellow {
    background: rgba(255, 194, 57, 1);
}

.learnBtn {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
}

.quote {
    margin-top: 32px;
    padding: 28px 24px 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

.quotebg {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    ;
    padding-top: 20px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.quoteTitle {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 0 4px;
}

.quoteSub {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.opinionSection {
    padding: 32px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(198, 228, 214, 1);
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 24px;

}

td {
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 24px 18px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.selectItem {
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 14px 10px 14px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    background: rgba(198, 228, 214, 1);
}

.newsFigure>img {
    border-radius: 24px;

}

.newsCardContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.newsCard {
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.newsCardtitle {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.newsDate {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.newsDetails {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.visAdd {
    text-align: center;
}

.newsCardContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.doneteContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donetebtn {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.doneteInputContainer {
    width: 950px;
    margin: 0 auto;
}

.doneteInput {
    padding: 20px;
    width: 100%;
    border: rgba(14, 14, 14, 0.15);
    margin: 32px 0;
    outline: none;
}

.doneteInput::placeholder {
    text-align: center;
}

.letterCard {
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    padding: 48px;
    text-align: center;
    margin-top: 80px;
}
.letterpadingb{
    padding-bottom: 80px;
}
.letterHeading {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.submitBtn {
    color: rgba(255, 255, 255, 1);

    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 34px 15px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgba(0, 106, 80, 1);
    border: none;
}

.emailInput {
    padding: 18px 0 18px 40px;
    width: 55%;
    border: 1px solid white;
    border-radius: 8px 0px 0px 8px;
    outline: none;
}

.promise {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-top: 24px;
}

.footerHeading {
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}
.hrstyle{
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin: 32px 100px;
}
.socialLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer > .container{
    padding: 50px 0;
}